@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;500;700&display=swap");
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

// COLORS
$accent-clr: #f7654a;
$dark-clr: #404149;
$gray-clr: #999999;
$white: #ffffff;
$bg-clr: #e5e5e5;
